<div class="page-header">
  <h1>Enrolment #<%= @enrolment.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Student</dt>
  <dd><%= @enrolment.student_id %></dd>

  <dt>Course</dt>
  <dd><%= @enrolment.course_id %></dd>

</dl>
